.profile__edit-button {
  margin: 0;
  width: 24px;
  height: 24px;
  margin-top: 15px;
  background-color: #000000;
  border: #ffffff solid 1px;
  transition: opacity 0.7s;
  background: no-repeat url(../../../images/edit.svg) center;
  background-size: 50% 50%;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 9px;
  }
}
