.element__delete {
  margin: 0;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: url(../../../images/trash.svg) no-repeat center;
  transition: opacity 0.7s;
}

.element__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
