.popup__krest {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.7s;
}

.popup__krest:hover {
  opacity: 0.6;
}

@media screen and (max-width: 984px) {
  .popup__krest {
    right: 0;
  }
}
