.popup__button {
  margin-top: 18px;
  background-color: #000;
  height: 50px;
  border-radius: 2px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  transition: opacity 0.7s;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 984px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
}
