.profile__add-button {
  border: none;
  margin: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  transition: opacity 0.7s;
  background: url(../../../images/plus.svg) no-repeat center #000000;
  background-size: 22px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 984px) {
  .profile__add-button {
    width: 282px;
    background-size: 16px;
  }
}
