.element {
  max-width: 282px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: relative;
  transition: transform 0.7s;
}

.element:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .element:hover {
    transform: scale(1.03);
  }
}
